.page-container {
    overflow-y: auto;
}

.sub-txt {
    font-weight: normal;
    font-size: 0.9em;
    color: var(--text-color-secondary);
    margin-left: 8px;
    padding-top: 8px;
    a {
        color: inherit;
    }
}
.sub-txt:hover {
    color: var(--text-color)
}

.ant-form {
    max-width: 1000px;
    margin-right: auto;
    nz-divider:not(:first-child) {
        margin-top: 48px;
    }
}

.anchor {
    position: sticky;
    top: 0;
    min-width: 180px;
    user-select: none;
}

.nz-alert-sm ::ng-deep .ant-alert {
    font-size: 13px;
    padding: 4px 6px;
}

:host ::ng-deep .ant-divider-horizontal.ant-divider-with-text::before {
    display: none;
}
:host ::ng-deep .ant-divider-inner-text {
    padding-left: 0;
}

nz-float-button {
    height: 48px;
    width: 48px;
    ::ng-deep .ant-float-btn-icon {
        font-size: 19px !important;
        width: 19px;
    }
}